{
    "host": "gliderbak.ocean.dal.ca",
    "apiCredentials": {
        "clientId": "",
        "secret": ""
    },
    "tlsRejectUnauthorized": 0,
    "rootDownloadPath": "",
    "stompDebug": false
}