# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

local.json
uploads/

backend/.env
*.tgz
frontend/.env
docker/entrypoint.sh
docker/frontend.dockerfile
docker/backend.dockerfile
docker/docker-compose.yml
backend/config/local.json.example
frontend/env.example

backend/utils/glider_utils.mjs
backend/views/gliders.mjs
