ATLAS_URI=mongodb://ceotr:ceotr@mongo:27017/
SLACK_URL = https://hooks.slack.com/services/T0000000000/B000000000000/0000000000000000000000
SEND_FILES_TO_DUMMY_GLIDER=true
SEND_SLACK_MESSAGES=false
SECRET_TOKEN=

USE_AUTH=true
USERNAME=
PASSWORD=

HISTORY_DAYS=
SCHEDULE_SECS=