@import './base.css';

#app {
  width: 1200px;
  margin: auto;
  padding: 1rem;
  /* background-color: grey; */
}

.border {
  border-width: 2px;
  border-color: var(--color-text);
  border-radius: 5px;
  border-style: solid;
  padding: 0.5rem;
}

.center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}